<!--ask for a scene description -->
<!--ask for a scene picture -->
<!--ask for choice and if that choice ends game-->
<!--if choice ends game then ask for reason-->
<!--save scene button and take back to-->

{% include "scenario/nnavbar.html" %}
{% include 'users/sidebar.html'%}
{% load crispy_forms_tags %}
{% block content %}
<body id="wall">
    <div class="container">
        <div class="content-posts active" id="posts">
            <div id="posts-container" class="container-fluid container-posts">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{form|crispy}}
<!--needs to have a list off all the scenes with a link perma link to each scene-->
                    {% for x in scenes %}
                        <h3><a href="{% url 'scene-update' x.id %}">{{x}}</a></h3>
                    {% endfor %}
                    <br>
                    <button type="submit" value="Save">Save</button>
                    {% if story %}
                        <a href="{% url 'scene-create' story.id %}">add scene</a>
                     {% else %}
                     {% endif %}
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock content %}