<h1>Omg you deciphered it or your tryna hack me :* </h1>
<h2>regardless glad you have stopped by :)</h2>
<p>and i feel as though this video is you and im the dad</p>
<p>now go away or ima ban you </p>
<small><p>jk ur prolly not even logged in and who cares about an ip when theres btc n vpn \^.^/</p></small>

<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@mikeygordo/video/6774601432600431878" data-video-id="6774601432600431878" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@mikeygordo" href="https://www.tiktok.com/@mikeygordo">@mikeygordo</a> <p></p> <a target="_blank" title="♬ original sound - mikeythought" href="https://www.tiktok.com/music/original-sound-6774444424580631302">♬ original sound - mikeythought</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>